{% extends 'base.html.twig' %}

{% block title %}Chantier{% endblock %}

{% block body %}
    <h1>Chantier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ chantier.id }}</td>
            </tr>
            <tr>
                <th>Localisation</th>
                <td>{{ chantier.localisation }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ chantier.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_chantier_index') }}">back to list</a>

    <a href="{{ path('app_chantier_edit', {'id': chantier.id}) }}">edit</a>

    {{ include('chantier/_delete_form.html.twig') }}
{% endblock %}
