<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
		<br/>
		{% block footer %}
        {% endblock %}
        
        {% block javascriptsBody %}
        {% endblock %}
    </body>
</html>
