{# templates/ouvrier/index.html.twig #}
{% extends 'layout.html.twig' %}
{% block demoTitle %}{{ nomDemo | default('La liste des Ouvriers') | title }}{% endblock %}
{% block content %}
    
    <h2>Les ouvriers</h2>
    {% if ouvriers is empty %}
	<p>Pas d'ouvrier...</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>nom</th>
                <th>prenom</th>
                <th>specialite</th>
            </tr>
        </thead>
        <tbody>
            
            {% for ouvrier in ouvriers %}
                {% if ouvrier.id is even %}  
                <tr class="bon">
                    <td>{{ouvrier.nom}}</td>
                    <td>{{ouvrier.prenom}}</td>
                    {% if ouvrier.specialite != NULL %}
                        <td>{{ ouvrier.specialite.libelle }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                {% else %} 
                <tr class="bad">
                    <td>{{ouvrier.nom}}</td>
                    <td>{{ouvrier.prenom}}</td>
                    {% if ouvrier.specialite != NULL %}
                        <td>{{ ouvrier.specialite.libelle }}</td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
                {% endif %}
            {% endfor %}
            
        </tbody>
    </table>
    {% endif %}
{% endblock %}
