{# templates/ouvrier/index.html.twig #}
{% extends 'layout.html.twig' %}
{% block demoTitle %}{{ nomDemo | default('Ajouter un ouvrier') | title }}{% endblock %}
{% block content %}
    
    
    {{ form_start(form) }}
        {{ form_row(form.nom) }}
        <br/>
        {{ form_row(form.prenom) }}
        <br/>
        {{ form_row(form.specialite) }}
        <br/>
        <input type="submit" value="Sauver"/>
    {{ form_end(form) }}
{% endblock %}