{# templates/ouvrier/index.html.twig #}
{% extends 'layout.html.twig' %}
{% block demoTitle %}{{ nomDemo | default('La liste des spécialités') | title }}{% endblock %}
{% block content %}
    
    <h2>Les specialités</h2>
    {% if specialites is empty %}
	<p>Pas de specialités...</p>
    {% else %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>specialite</th>
            </tr>
        </thead>
        <tbody>
            
            {% for specialite in specialites %}
                {% if specialite.id is even %}  
                <tr class="bon">
                    <td>{{specialite.id}}</td>
                    <td>{{specialite.libelle}}</td>
                </tr>
                {% else %} 
                <tr class="bad">
                    <td>{{specialite.id}}</td>
                    <td>{{specialite.libelle}}</td>
                </tr>
                {% endif %}
            {% endfor %}
            
        </tbody>
    </table>
    {% endif %}
{% endblock %}
